.checkout-container {
  min-height: 80vh;
  padding: 50px;
}

.checkout-card {
  max-width: 700px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ddd;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.payment-btn {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #5c4033;
  color: white;
}

.change-address-btn {

  background: #ff69b4;

  color: white;

  border: none;

  padding: 10px 18px;

  border-radius: 8px;

  cursor: pointer;

  margin-top: 10px;

  font-weight: 600;

  transition: 0.3s;

}

.change-address-btn:hover {

  background: #ff4fa2;

  transform: translateY(-2px);

}