.hero {
  height: 85vh;
  background-color: #fff8f0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 65px;
  color: #5c4033;
  margin-bottom: 20px;
}

.hero p {
  width: 60%;
  font-size: 20px;
  color: #7a5a5a;
  line-height: 1.7;
  margin-bottom: 30px;
}

.hero button {
  padding: 14px 28px;
  border: none;
  border-radius: 8px;

  background-color: #ffb6b6;
  color: white;

  font-size: 16px;
  cursor: pointer;

  transition: 0.3s;
}

.hero button:hover {
  background-color: #ff8fa3;
}
.about {
  padding: 80px 20px;
  text-align: center;
  background-color: white;
}

.about h2 {
  font-size: 40px;
  color: #5c4033;
  margin-bottom: 30px;
}

.about p {
  width: 70%;
  margin: 0 auto 20px auto;

  font-size: 18px;
  line-height: 1.8;

  color: #7a5a5a;
}
.featured-products {
  padding: 80px 20px;
  background-color: #fff8f0;

  text-align: center;
}

.featured-products h2 {
  font-size: 40px;
  color: #5c4033;

  margin-bottom: 50px;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 40px;

  flex-wrap: wrap;
}

.product-card {
  width: 250px;

  background-color: white;

  border-radius: 12px;

  overflow: hidden;

  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  transition: 0.3s;

  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 100%;
  height: 250px;

  object-fit: cover;
}

.product-card h3 {
  margin-top: 15px;

  color: #5c4033;
}

.product-card p {
  margin: 15px 0;

  color: #ff8fa3;

  font-weight: bold;
}