.auth-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  padding: 12px;
}

.auth-form button {
  padding: 12px;
  border: none;
  cursor: pointer;
}