.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff4f4;
}

.logo {
  font-size: 28px;
  color: #5c4033;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #5c4033;
  font-size: 18px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ff8fa3;
}
@media (max-width: 768px) {

  .navbar {

  display: flex;

  flex-direction: row;

  justify-content: space-between;

  align-items: center;

  padding: 15px 20px;

  position: relative;

}

  .menu-btn {

  display: block !important;

  position: absolute;

  right: 20px;

  top: 18px;

  border: none;

  background: none;

  font-size: 32px;

  font-weight: bold;

  cursor: pointer;

  color: #5c4033;

  z-index: 9999;

}

  .nav-links {

  display: none;

  position: absolute;

  top: 70px;

  left: 0;

  width: 100%;

  background: #fff4f4;

  flex-direction: column;

  text-align: center;

  gap: 15px;

  padding: 20px 0;

  z-index: 1000;

}

  .nav-links.active {

    display: flex;

  }

  .logo {

    font-size: 24px;

  }
  

}
.logout-btn {
  background: none;
  border: none;
  cursor: pointer;

  color: #5c4033;
  font-size: 18px;
  font-family: inherit;
}
.logout-btn {
  border: none;
  background: none;

  cursor: pointer;

  font-size: 18px;
  font-family: inherit;

  color: #6b4a3a;
}
.menu-btn {

  display: none;

  border: none;

  background: none;

  font-size: 28px;

  cursor: pointer;

  color: #5c4033;

}