.payment-container {
  min-height: 80vh;
  padding: 50px;
}

.payment-card {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
}

.qr-image {

  width: 220px;

  height: 220px;

  object-fit: contain;

  display: block;

  margin: 20px auto;

  border-radius: 12px;

  border: 1px solid #ddd;

  padding: 10px;

  background: white;

}

.submit-btn {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #5c4033;
  color: white;
}
.success-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.success-modal {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
}

.success-modal button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #5c4033;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 768px) {

  .qr-image {

    width: 180px;

    height: 180px;

  }

}