
.profile-container {
  min-height: 80vh;
  padding: 50px;
}

.profile-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.profile-card {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ddd;
}

.profile-card p {
  margin-bottom: 20px;
  font-size: 18px;
}
.profile-card input,
.profile-card textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.save-btn {
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #5c4033;
  color: white;
}
.close-btn {
  float: right;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
}